:root {
    --accent: #2196F3;
    --main-font-color: #212121;
    --additional-font-color: #757575;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --address-color: rgba(255, 255, 255, 0.6);
    --hero-background: #C4C4C4;
    --third-section-and-portfoliobtn-background: #F5F4FA;
    --footer-background: #2F303A;
    --header-border: #ECECEC; 
    --portfolio-border-list: #EEEEEE;
    --btn-active: #188CE8;
    --client-group-color: #AFB1B8;
}

body {
    color: var(--main-font-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
}

img {
    display: block;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    height: 80px;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.top {
   display: flex;
   align-items: center;
}

.nav-item {
    display: flex;
}

.nav:hover,
.nav:focus {
    color: var(--accent);
}

.item > .link {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;
}

.item + .item {
    margin-left: 50px;
}

.link.current {
    color: var(--accent);
}

.link {
    color: var(--main-font-color);
    text-decoration: none;
}

.logo {
    color: var(--accent);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}

.logo-top {
    color: var(--black-color);
}

.contact-item {
    display: flex;
    margin-left: auto;
}

.contact-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.envelop {
    fill: var(--additional-font-color);
    margin-right: 10px;
}

.smartphone {
    fill: var(--additional-font-color);
    margin-right: 10px;
}

.contact {
    color: var(--additional-font-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.contact:hover,
.contact:focus {
    color: var(--accent);
}

.contact:hover .envelop,
.contact:focus .envelop {
    fill: var(--accent);
}

.contact:hover .smartphone,
.contact:focus .smartphone {
    fill: var(--accent);
}

.hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bcg-hero.jpg');
    background-color: var(--hero-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: var(--white-color);

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.main-button {
    color: inherit;
    background-color: var(--accent);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: 0;
}

.main-button:hover,
.main-button:focus {
    background-color: var(--btn-active);
}

.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    width: 270px;
}

.features-svg-group {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
    
    background-color: var(--third-section-and-portfoliobtn-background);        border-radius: 4px;
    
    margin-bottom: 30px;
}

.features-icon {
    width: 70px;
    height: 70px;

    display: block;
}

.features-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0 auto;
}

.features-text {
    color: var(--additional-font-color);
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    margin-bottom: 0;
}

.works {
    padding-bottom: 94px;
}

.title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.works-list {
    display: flex;
    gap: 30px;
}

.team {
    background-color: var(--third-section-and-portfoliobtn-background);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-text {
    color: var(--additional-font-color);
    font-size: 16px;
    line-height: 1.18;
    margin-top: 0;
    margin-bottom: 16px;
}

.team-social-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-social-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-social-icon-link {
    width: 44px;
    height: 44px;
    
    background-color: var(--white-color);
    color: var(--client-group-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-social-icon-link:hover,
.team-social-icon-link:focus {
    background-color: var(--accent);
    border-radius: 50%;
    color: var(--white-color);
}

.team-social-icon-svg {
    width: 20px;
    height: 20px;

    fill: var(--client-group-color);
}

.team-social-icon-link:hover .team-social-icon-svg {
    fill: var(--white-color);
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid var(--client-group-color);
    border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent);
    border-color: var(--accent);
}

.clients-icon {
    fill: var(--client-group-color);

    width: 106px;
    height: 60px;
}

.clients-link:hover .clients-icon {
    fill: var(--accent);
    border-color: var(--accent);
}

footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.bottom {
    display: flex;
    align-items: baseline;
}

footer .logo {
    display: block;
    margin-bottom: 20px;
}

.logo-bottom {
    color: var(--white-color);
    margin-bottom: 20px;
}

.street {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.address {
    color: var(--address-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.address:hover,
.address:focus {
    color: var(--white-color);
} 

.address-item {
    display: block;
    margin-bottom: 9px;
}

.address-item:nth-last-child(1) {
    margin-bottom: 0;
}

.footer-socials {
    margin-left: 70px;
}

.footer-socials-title {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.footer-social-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-social-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icon-link {
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--white-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
    background-color: var(--accent);
    border-radius: 50%;
    color: var(--white-color);
}

.footer-social-icon-svg {
    width: 20px;
    height: 20px;

    fill: var(--client-group-color);
}

.footer-social-icon-link:hover .footer-social-icon-svg {
    fill: var(--white-color);
}

.second-page {
    padding-top: 94px;
    padding-bottom: 94px;
}

.secondary-button {
    background-color: var(--third-section-and-portfoliobtn-background);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
}

.secondary-button:hover,
.secondary-button:focus {
    background-color: var(--accent);
    color: var(--white-color);
}

.filtr-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filtr-list>li {
    padding-right: 8px;
}

.filtr-list:first-child {
    padding: 6px 25px;
}

.example-hover {
    display: block;
}

.example-hover:hover,
.example-hover:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}

.example-text {
    color: var(--additional-font-color);
    font-size: 16px;
    line-height: 1.87;
    margin: 0;
}


.examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.example-item {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid var(--portfolio-border-list);
    border-bottom: 1px solid var(--portfolio-border-list);
    border-left: 1px solid var(--portfolio-border-list);
}
